.swiper-container {
  min-height: 10rem;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 423px;
}

.box {
  margin:1rem;
  padding: 1rem;
  border: 1px solid gray;
}

h2 {
  font-style: italic;
}